body {
    background-image: url("../images/wishing_pond.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
   }

/*
.col-sm:nth-of-type(2n+1){
    background-color: #f2f2f2;
}
*/

.col-sm {
    background-color: #e6f2ff;
    padding-top: 1em;
    padding-bottom: 1em;
}


.mqcontainer {
    width: 18em;
    height: 18em;
    margin: 1em auto;
    overflow: hidden;
    background: white;
    position: relative;
    box-sizing: border-box;
}

.marquee1{
    top: 3em;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    animation: marquee1 linear infinite
}


/* Make it move! */
@keyframes marquee1 {
    0%   { top:   8em }
    100% { top: -11em }
}

.marquee2{
    top: 3em;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    animation: marquee2 linear infinite
}


/* Make it move! */
@keyframes marquee2 {
    0%   { top:   8em }
    100% { top: -11em }
}

.marquee3{
    top: 3em;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    animation: marquee3 linear infinite
}


/* Make it move! */
@keyframes marquee3 {
    0%   { top:   8em }
    100% { top: -11em }
}
