{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Blessing Cards (祈福卡)</title>
{% endblock title %}


{% block content %}
  <div class="container">
    <h1>Blessing Cards 祈福卡</h1>
    <br>
    <div class="row">
        <div class="col-sm"><img src = "{% static 'images/BlessingCard2.jpg' %}" alt ="" class="img-fluid">
          {{quote1 | safe}}
            <form action="" method="post">
              {% csrf_token %}
              {{ form1.as_p }}
              <input type="submit" name="btnform1" value="Submit (提交)">
            </form> 
        </div>

        <div class="col-sm"><img src = "{% static 'images/BWM SG55Weilin.gif' %}" alt ="" class="img-fluid">
          {{quote2 | safe}}
            <form action="" method="post">
              {% csrf_token %}
              {{ form2.as_p }}
              <input type="submit" name="btnform2" value="Submit (提交)">
            </form>                 
        </div>

        <div class="col-sm"><img src = "{% static 'images/BlessingCard1.jpg' %}" alt ="" class="img-fluid">
          {{quote3 | safe}}
            <form action="" method="post">
              {% csrf_token %}
              {{ form3.as_p }}
              <input type="submit" name="btnform3" value="Submit (提交)">
            </form>         

        </div>
    </div>

    <br>

  </div>
  <!-- <script src="{% static 'scroll.js' %}"></script> -->
{% endblock content %}
